//FONTS


//COLORS
$primary: #0029FA;
$dark_primary: #230A59;
$light_primary: #5C73F2;

//CLEAR
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 14px;
  max-width: 1440px;

  a {
    color: $primary;

    &:focus, &:visited {
      color: $light_primary;
    }
    &:hover {
      color: $dark_primary;
    }
  }
  img {
    width: auto;
    max-width: 100%;
  }
}

//GRID
$grid-gap: 10px;
$grid-columns: 12;

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 $grid-gap;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 (-1 * $grid-gap);
}
.col {
  padding: 0 $grid-gap;

  &.col-auto {
    flex: 0 0 auto;
  }

  $col-width: 100% / $grid-columns;
  @for $i from 1 through $grid-columns {
    &.col-#{$i} {
      flex: 0 0 ($i * $col-width);
    }
    &.col-ml-#{$i} {
      margin-left: $i * $col-width;
    }
    &.col-mr-#{$i} {
      margin-right: $i * $col-width;
    }
  }
}